
2014UvsChess/ExampleAI/ExampleAI.csproj
2014UvsChess/ExampleAI/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
2014UvsChess/Framework/Framework.csproj
2014UvsChess/Framework/bin/x86/Debug/UvsChess.exe
2014UvsChess/Framework/bin/x86/Debug/UvsChess.pdb
2014UvsChess/Framework/bin/x86/Debug/UvsChess.vshost.exe
2014UvsChess/Framework/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
2014UvsChess/Framework/obj/x86/Debug/Framework.csproj.FileListAbsolute.txt
2014UvsChess/Framework/obj/x86/Debug/Framework.csproj.GenerateResource.Cache
2014UvsChess/Framework/obj/x86/Debug/Framework.csprojResolveAssemblyReference.cache
2014UvsChess/Framework/obj/x86/Debug/UvsChess.Gui.AboutUvsChess.resources
2014UvsChess/Framework/obj/x86/Debug/UvsChess.Gui.GuiChessBoard.resources
2014UvsChess/Framework/obj/x86/Debug/UvsChess.Gui.GuiDecisionTree.resources
2014UvsChess/Framework/obj/x86/Debug/UvsChess.Gui.MessageBox.resources
2014UvsChess/Framework/obj/x86/Debug/UvsChess.Gui.Preferences.resources
2014UvsChess/Framework/obj/x86/Debug/UvsChess.Gui.WinGui.resources
2014UvsChess/Framework/obj/x86/Debug/UvsChess.exe
2014UvsChess/Framework/obj/x86/Debug/UvsChess.pdb
2014UvsChess/StudentAI/StudentAI.csproj
2014UvsChess/StudentAI/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
2014UvsChess/UvsChess.v12.suo

2014UvsChess/ExampleAI/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
2014UvsChess/ExampleAI/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
2014UvsChess/ExampleAI/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
2014UvsChess/Framework/bin/x86/Debug/UvsChess.exe.config
2014UvsChess/Framework/bin/x86/Debug/UvsChess.vshost.exe.config
2014UvsChess/Framework/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
2014UvsChess/Framework/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
2014UvsChess/Framework/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
2014UvsChess/StudentAI/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
2014UvsChess/StudentAI/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
2014UvsChess/StudentAI/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
2014UvsChess/ExampleAI/ExampleAI.csproj
2014UvsChess/ExampleAI/ExampleAI.csproj
2014UvsChess/ExampleAI/ExampleAI.csproj
2014UvsChess/ExampleAI/ExampleAI.csproj
2014UvsChess/ExampleAI/ExampleAI.csproj
2014UvsChess/ExampleAI/ExampleAI.csproj
2014UvsChess/ExampleAI/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
2014UvsChess/Framework/bin/x86/Debug/UvsChess.exe
2014UvsChess/Framework/bin/x86/Debug/UvsChess.pdb
2014UvsChess/Framework/bin/x86/Debug/UvsChess.vshost.exe
2014UvsChess/ExampleAI/ExampleAI.csproj
2014UvsChess/Framework/bin/x86/Debug/UvsChess.exe
2014UvsChess/Framework/bin/x86/Debug/UvsChess.vshost.exe
2014UvsChess/Framework/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
*.exe